<div id="main-playlist-audios"
     class="main-playlist-audios"
        {{ turbo_stream_listen('player-board') }}>

    {% if nowPlaying is not null %}
        <img class="album-image" src="{{ asset('covers/' ~ albumCover(nowPlaying.album)) }}">
    {% endif %}

    <ul class="audios-list">
        {% for audio in playlist.audios %}
            {% set activeAudio = audio.id in [nowPlaying.id|default(null), lastPlayed.id|default(null)] %}
            <li>
                <form action="{{ path('player.play.audio', {'id': audio.id}) }}" method="post">
                    <button id="{{ audio.id }}" type="submit"
                            class="audio-list-item _inv-button {{ activeAudio ? '-active' : '' }}">
                        <div class="marker"></div>
                        <span class="material-symbols-outlined icon"> equalizer </span>
                        {{ audio.title }}
                    </button>
                </form>
            </li>

            {% if not loop.last %}
                <hr class="separator">
            {% endif %}
        {% else %}
            <span class="emptyMsg">No audios found</span>
        {% endfor %}
    </ul>
</div>