<div id="player-board" class="player-board">
    {% set isRunning = nowPlaying is null ? 0 : 1 %}
    {% set subjectAudio = isRunning ? nowPlaying.audio : lastPlayed %}

    <div class="playing-audio-info">
        {% if subjectAudio is not null %}
            <img class="album-image" src="{{ asset('storage/covers/' ~ albumCover(subjectAudio.album)) }}">
        {% endif %}
    </div>


    <div class="player-queue">

        {{ include('player/queue_controls.html.twig') }}

        <ul class="audios-list">
            {% for audio in queuedAudios %}
                {% set isActiveAudio = (audio.id == subjectAudio.id | default(null)) %}
                <li>
                    <div class="audio {{ isActiveAudio ? '-active' : '' }}">
                        <div class="marker"></div>

                        {% if audio.id == nowPlaying.audio.id|default(null) %}
                            <form action="{{ path('player.stop') }}" method="post">
                                <button id="{{ audio.id }}" type="submit" class="_inv-button">
                                    <i class="fa-regular fa-circle-stop fa-2xl icon"></i>
                                </button>
                            </form>
                        {% else %}
                            <form action="{{ path('player.play.audio', {'id': audio.id}) }}" method="post">
                                <button id="{{ audio.id }}" type="submit" class="_inv-button">
                                    <i class="fa-regular fa-circle-play fa-2xl icon"></i>
                                </button>
                            </form>
                        {% endif %}

                        <span class="title">
                            <a href="{{ path('audios.show', {'id': audio.id}) }}"> {{ audio.title }} </a>
                     </span>
                    </div>
                </li>

                {% if not loop.last %}
                    <hr class="row-separator">
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>