{% extends 'player_base.html.twig' %}
{% from 'player_base.html.twig' import playPreview %}

{% block contents %}
    <div class="audios-browser">
        <div class="pagination-controls">
            {% include 'pagination/page_limit_selector.html.twig' %}
            {% include 'pagination/pagination_bar.html.twig' %}
        </div>
        <table class="audio-list">
            <tr>
                <th class="audio-title">Título</th>
                <th class="audio-artist">Artista</th>
                <th class="audio-album">Album</th>
                <th class="audio-year">Año</th>
                <th class="audio-genre">Género</th>
                <th class="audio-duration">Duración</th>
            </tr>
            {% for audio in pagination.pageResults %}
                <tr>
                    <td class="audio-title">
                        {{ playPreview(audio) }}
                        {% if playerStatus.canAddToQueue(audio) or playerStatus.canRemoveFromQueue(audio) %}
                            {% include 'audio/playlist_actions.html.twig' with {'queued': playerStatus.canRemoveFromQueue(audio)} %}
                        {% endif %}
                    </td>
                    <td class="audio-artist">{{ audio.artist }}</td>
                    <td class="audio-album">{{ audio.album }}</td>
                    <td class="audio-year">{{ audio.year | date('Y') }}</td>
                    <td class="audio-genre">{{ audio.genre }}</td>
                    <td class="audio-duration">{{ audio.duration |date('i:s') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {{ render(path('player.bar')) }}
{% endblock %}
