{% extends 'player_base.html.twig' %}
{% from 'player_base.html.twig' import playPreview %}

{% block contents %}
    <div class="audios-browser">
        <a href="{{ path('audios.import') }}">
            <i class="fa-solid fa-cloud-arrow-up fa-2xl"></i>
        </a>

        <div class="pagination-controls">
            {% include 'pagination/page_limit_selector.html.twig' %}
            {% include 'pagination/pagination_bar.html.twig' %}
        </div>
        <table class="audio-list">
            <tr>
                {{ _self.sortableHeader('Titulo', 'title', pagination.params.order) }}
                {{ _self.sortableHeader('Artista', 'artist', pagination.params.order) }}
                {{ _self.sortableHeader('Album', 'album',pagination.params.order) }}
                {{ _self.sortableHeader('Año', 'year', pagination.params.order) }}
                {{ _self.sortableHeader('Género', 'genre', pagination.params.order) }}
                {{ _self.sortableHeader('Duración', 'duration', pagination.params.order) }}

            </tr>
            {% for audio in pagination.pageResults %}
                <tr>
                    <td class="audio-title">
                        {{ playPreview(audio) }}
                        {% if playerStatus.canAddToQueue(audio) or playerStatus.canRemoveFromQueue(audio) %}
                            {% include 'audio/playlist_actions.html.twig' with {'queued': playerStatus.canRemoveFromQueue(audio)} %}
                        {% endif %}
                    </td>
                    <td class="audio-artist">{{ audio.artist }}</td>
                    <td class="audio-album">{{ audio.album }}</td>
                    <td class="audio-year">{{ audio.year | date('Y') }}</td>
                    <td class="audio-genre">{{ audio.genre }}</td>
                    <td class="audio-duration">{{ audio.duration |date('i:s') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {{ render(path('player.bar')) }}
{% endblock %}

{% macro sortableHeader(title, field ,paginationOrder) %}
    <th class="audio-{{ field }}">
        {% if paginationOrder == null or paginationOrder.field != field %}
            <a class="page-link sortable-header"
               href="{{ currentRouteWithParam('orderBy', field ~ ',asc') }}">
                {{ title }}
                <i class="fa-solid fa-sort"></i>
            </a>
        {% else %}
            {% set nextDirection = paginationOrder.direction == 'asc' ? 'desc' : 'asc' %}
            <a class="page-link sortable-header"
               href="{{ currentRouteWithParam('orderBy', field ~ ',' ~ nextDirection) }}">
                    {{ title }}
                    {% if nextDirection == 'asc' %}
                        <i class="fa-solid fa-arrow-down"></i>
                    {% else %}
                        <i class="fa-solid fa-arrow-up"></i>
                    {% endif %}
            </a>
        {% endif %}
    </th>
{% endmacro %}
