{% extends 'player_base.html.twig' %}

{% block contents %}
    <div class="audios-browser">

        <div class="actions-bar">
            {% include 'pagination/page_limit_selector.html.twig' %}
            <div class="right-block">
                <a class="upload-audio-link" href="{{ path('audios.import') }}">
                    <i class="fa-solid fa-cloud-arrow-up fa-xl"></i>
                </a>
                {% include 'pagination/pagination_bar.html.twig' %}
            </div>
        </div>
        <table class="audio-list">
            <tr>
                {{ _self.sortableHeader('Titulo', 'title', pagination.params.order) }}
                {{ _self.sortableHeader('Artista', 'artist', pagination.params.order) }}
                {{ _self.sortableHeader('Album', 'album',pagination.params.order) }}
                {{ _self.sortableHeader('Año', 'year', pagination.params.order) }}
                {{ _self.sortableHeader('Género', 'genre', pagination.params.order) }}
                {{ _self.sortableHeader('Duración', 'duration', pagination.params.order) }}

            </tr>
            {% for audio in pagination.pageResults %}
                <tr>
                    <td class="audio-title">
                        {% include 'play_preview.html.twig' %}
                        <span class="title">{{ audio.title }}</span>
                        {% if not playerStatus.isPlaying(audio) %}
                            {% include 'audio/queue_actions.html.twig' with {'queued': playerStatus.hasQueuedAudio(audio)} %}
                        {% endif %}
                    </td>
                    <td class="audio-artist">{{ audio.artist }}</td>
                    <td class="audio-album">{{ audio.album }}</td>
                    <td class="audio-year">{{ audio.year | date('Y') }}</td>
                    <td class="audio-genre">{{ audio.genre }}</td>
                    <td class="audio-duration">{{ audio.duration |date('i:s') }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% macro sortableHeader(title, field ,paginationOrder) %}
    <th class="audio-{{ field }}">
        {% if paginationOrder == null or paginationOrder.field != field %}
            <a class="page-link sortable-header"
               href="{{ currentRouteWithParam('orderBy', field ~ ',asc') }}">
                {{ title }}
                <i class="fa-solid fa-sort"></i>
            </a>
        {% else %}
            {% set nextDirection = paginationOrder.direction == 'asc' ? 'desc' : 'asc' %}
            <a class="page-link sortable-header"
               href="{{ currentRouteWithParam('orderBy', field ~ ',' ~ nextDirection) }}">
                {{ title }}
                {% if nextDirection == 'asc' %}
                    <i class="fa-solid fa-arrow-down"></i>
                {% else %}
                    <i class="fa-solid fa-arrow-up"></i>
                {% endif %}
            </a>
        {% endif %}
    </th>
{% endmacro %}
