{% set limit = pagination.params.pageLimit %}

<select class="page-limit" onchange="Turbo.visit(this.value)">
    <option {{ limit == 6 ? 'selected' : '' }} value="{{ currentRouteWithParam({'page': 1, 'limit': 6} ) }}"> 6</option>
    <option {{ limit == 12 ? 'selected' : '' }} value="{{ currentRouteWithParam({'page': 1, 'limit': 12} ) }}"> 12</option>
    <option {{ limit == 18 ? 'selected' : '' }} value="{{ currentRouteWithParam({'page': 1, 'limit': 18} ) }}"> 18</option>
</select>