<nav class="navbar">
    <div class="navbar-header">
        <i class="action-icon open-icon fa-solid fa-bars fa-xl"
           data-action="click->navbar#open"></i>
        {#        <img class="action-icon open-icon" src="https://img.icons8.com/ios/50/null/menu-rounded.png" #}
        {#             data-action="click->navbar#open"/> #}
        {#        <img class="action-icon close-icon" src="https://img.icons8.com/windows/32/null/macos-close.png" #}
        {#             data-action="click->navbar#close"/> #}

        <i class="action-icon close-icon fa-solid fa-circle-xmark fa-xl"
           data-action="click->navbar#close"></i>
    </div>

    {% set route = app.request.attributes.get('_route') %}
    <ul class="navbar-content">
        <li>
            <a class="entry" href="{{ path('audios.index') }}">
                <span class="title">Audios</span>
                <i class="icon fa-solid fa-music fa-xl"></i>
            </a>
        </li>
        <hr class="separator"/>
        <li>
            <a class="entry {{ route == 'albums.index' ? '-active' : '' }}" href="{{ path('albums.index') }}">
                <span class="title"> Albums </span>
                <i class="icon fa-solid fa-compact-disc fa-xl"></i>
            </a>
        </li>

        <hr class="separator"/>
        <li>
            <a class="entry {{ route == 'config.index' ? '-active' : '' }}" href="{{ path('config.index') }}">
                <span class="title"> Configuración </span>
                <i class="fa-solid fa-gear fa-xl"></i>
            </a>
        </li>
    </ul>
</nav>