{% set currentPage = pagination.params.pageNumber %}
{% set prevPage = currentPage == 1 ? null : currentPage - 1 %}
{% set nextPage = pagination.totalPages == currentPage ? null : currentPage + 1 %}
{% set lastPage = pagination.totalPages %}

<div class="pagination-bar">
    <a class="page-link btn" href="{{ path('audios.index', {'pageNumber': 1}) }}">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </a>

    {% if prevPage != null %}
        <a class="page-link btn" href="{{ path('audios.index', {'pageNumber': prevPage}) }}">
            <i class="fa-solid fa-caret-left fa-lg"></i>
        </a>
{#        {% if prevPage != 1 %}#}
{#            ...#}
{#        {% endif %}#}

        <a class="page-link" href="{{ path('audios.index', {'pageNumber': prevPage}) }}">
            {{ prevPage }}
        </a>
    {% else %}
        <i class="page-link btn -inactive fa-solid fa-caret-left fa-lg"></i>
    {% endif %}

    <span class="page-link -current"> {{ currentPage }} </span>

    {% if nextPage != null %}
        <a class="page-link" href="{{ path('audios.index', {'pageNumber': nextPage}) }}">
            {{ nextPage }}
        </a>
{#        ...#}
        <a class="page-link btn" href="{{ path('audios.index', {'pageNumber': nextPage}) }}">
            <i class="fa-solid fa-caret-right fa-lg"></i>
        </a>
    {% else %}
        <i class="page-link btn -inactive fa-solid fa-caret-right fa-lg"></i>
    {% endif %}

    <a class="page-link btn" href="{{ path('audios.index', {'pageNumber': lastPage}) }}">
        <i class="fa-solid fa-circle-chevron-right"></i>
    </a>
</div>