{% extends 'base.html.twig' %}

{% block body %}
    <div class="jukebox-player"
            {{ stimulus_controller('navbar') }}
            {{ stimulus_target('navbar', 'jukebox') }}>

        {% include 'navbar.html.twig' %}
        {% include 'jukebox/player_shortcut.html.twig' %}

        <section class="contents-section">
            {% block contents %} {% endblock %}
        </section>
    </div>

{% endblock %}

{% macro playPreview(audio) %}
    <div class="play-preview"
            {{ stimulus_controller('play-preview') }}
            {{ stimulus_target('play-preview', 'playPreview') }} >

        <audio src="{{ '/audios/' ~ audioFile(audio) }}#t=30,50"
                {{ stimulus_target('play-preview', 'player') }} >
        </audio>

        <i class="play-action fa-regular fa-circle-play fa-xl" title="Reproducir en local"
                {{ stimulus_action('play-preview', 'play', 'click') }}></i>

        <i class="stop-action fa-regular fa-circle-stop fa-xl"
                {{ stimulus_action('play-preview', 'stop', 'click') }}"></i>

        <span class="audio-title"> {{ audio.title }} </span>
    </div>
{% endmacro %}